html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    color:white;
    background-image: url(images/raindrops.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.outer-column {
    border: solid .5rem #0A8BAB;
    background-color: lightblue;
    border-radius: 2rem;
    margin: 13rem 10rem 13rem 10rem;
}

.advice-panel {
    background-color: lightcyan;
    color: lightslategray;
    border-radius: 2rem;
}

#advice {
    padding: 2rem;
}

h1 {
    font-family: 'Baloo 2', cursive;
    margin-bottom: 2rem;
}

p {
    margin-top: 1rem;
}

button {
    margin: 3rem;
}